/* add css module styles here (optional) */

.topTabs {
  display: flex;
  justify-content: space-between;
}
.bottomTabs {
  display: flex;
  justify-content: space-between;
  position: 'absolute';
  bottom: 0;
  width: 100vw;
}
.tab {
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
}
.selected { 
  border-bottom: 2px solid black;
}
.showContent {
  display: block;
}
.hideContent {
  display: none;
}
